.channel-msg-text {
	font-size: 18px;
	margin: 1em;
}
.message-content {
	display: flex;
	align-items: center;
	margin: 1em;
  }
  
  .message-icons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: 10px;
	font-size: 20px;
	width: 4em;
  }
  
  .message-icons > * {
	margin-right: 5px;
	cursor: pointer;
  }
  .input-section {
	margin-top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .message-input {
	width: 30em;
	height: 3em;
	border: none;
	background-color: white;
	padding: 1em;
	margin-right: 1em;
	border-radius: 50px;
  }
  .send-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 0.5em;
	background-color: #E4E4E4;
  }
  .send-icon, .edit-msg {
	font-size: 24px;
	color: #0054FF;
	cursor: pointer;
  }
  .trash {
	color: #ff003c;
  }
  .user-icon {
	font-size: 30px;
  }
  .author {
	color: #0054FF;
  }

  .message.own-message {
	text-align: right;
  }
  
  .message.other-message {
	text-align: left;
  }
  .input-section-hr {
	background-color: #ff003c;
	
  }