.show-user-section {
	width: 12em;
	margin: 4em 1em;
	background-color: rgb(59, 59, 59);
	color: white;
}
.user {
	margin-left: 0.5em;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-top: 0.5em;
}
.delete-user {
	margin-left: 1em;
	color: #ff003c;
	cursor: pointer;
}
.user-h3 {
	font-size: 24px;
	color: #ff003c;
}
.username {
	color: white;
}
